.bgff{

    background-color: #fff;
}
.bgr{
    background-color:red;
}
.bol{
    border-left: 15px solid #F3F3F3;
}
/* c */
.c88{
    color: #888888;
}
.c66{
    font-size: 18px;
    color: #666666;
}
.c4747{
    font-size: 18px;
    color: #474747;
}
.c000{
    color: #000;
}
/* d */
.dflx1 {display: flex;align-items: center;justify-content: space-between;}
.dflx2 {display: flex;align-items: center;justify-content: flex-start;}
.dflx3 {display: flex;justify-content: flex-start;flex-wrap: wrap;}
.dflx4 {display: flex;justify-content: flex-end;}
.dflx5 {display: flex!important;justify-content: center;align-items: center;}
.dflx6 {display: flex;justify-content: center;align-items: center;flex-direction: column;}
.dflx7 {display: flex;justify-content: space-between;}
.dflx8 {display: flex;align-items: flex-start;justify-content: space-between;}
.dflx9 {display: flex!important;align-items: center;justify-content: flex-start;flex-wrap: wrap;}
.dflx10 {display: flex;align-items: flex-start;justify-content: space-between;flex-direction: column;}
.dflx11 {display: flex;align-items: center;justify-content: center;flex-direction: column;}
.dflx12 {display: flex;align-items: stretch;justify-content: flex-start;}
.dflx13 {display: flex;align-items: stretch;justify-content: space-between;}
.dflx14 {display: flex;justify-content: space-between;}
.dflx15 {display: flex;flex-direction: column;align-items: center;justify-content: space-around;}
.dflx16 {display: flex;align-items: center;justify-content: space-around;}
.dflx21 {display: flex;align-items: center;justify-content: space-between;flex-direction: column;}
.dflx22 {display: flex;flex-wrap: wrap;}
.dflx23 {display: flex;align-items: center;justify-content: flex-end;}
.dflx24 {display: flex!important;align-items: flex-start;justify-content: flex-start;flex-wrap: wrap;}
.dflx25 {display: flex!important;align-items: flex-start;justify-content: flex-start;flex-direction: column;}
.dflx26 {display: flex;align-items: flex-start;justify-content: space-between;}

.del {text-decoration:line-through;}


/* f */
.ft12{
    font-size: 12px;

}
.ft14{
    font-size: 14px;
}
.ft16{
    font-size: 16px;
}
.ft30{
    font-size: 30px;
}
.ftw{
    font-weight: bold;
}
/* g */
.gdfx1{
    display: grid;
    grid-template-columns: 56% 4% 40%;
    height: 85%;
}
.gdfx2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 750px;
    grid-column-gap: 15px;

}
.gdfx3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 370px;
    grid-column-gap: 110px;
}

.gdfx4{
    grid-template-rows: 370px;
    display: grid;
    grid-column-gap: 15px;
}
.gdfx5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 370px;
    grid-column-gap: 15px;
}
.gdfx6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px;
    grid-column-gap: 15px;
}
.gdfx7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
}
.gdfx8{
    display: grid;
    grid-template-columns: 60% 40%;
}
.gdfx9{
    display: grid;
    grid-template-columns: 38% 62%;

}
.gdfx10{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 370px;

}.gdfx11{
     display: grid;
     grid-template-columns: 15% 85%;
     grid-column-gap: 15px;

 }
.gdfx12{
    display: grid;
    grid-template-columns: 61% 39%;
    grid-template-rows: 370px;

}
.gdfx13{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gdfx14{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 777px;
    grid-column-gap: 15px;
}
.gdx15{
    display: grid;
    grid-template-columns: 10% 10% 70%;
}

/* m */
.ml5{
    margin-left: 5px;
}
.mr5{
    margin-right: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml13{
    margin-left: 13px;
}
.ml25{
    margin-left: 25px;
}
.ml30{
    margin-left: 30px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mb15{
    margin-bottom: 15px;
}
.mt17{
    margin-top: 17px;
}
.mt30{
    margin-top: 30px;
}
.mt60{
    margin-top: 60px;
}
.mt35{
    margin-top: 35px;
}
.mt20b{
    margin-top:7%
}

/* p */
.pt30{
    padding-top: 30px;
}
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom:10px;
}
.pb50{
    padding-bottom:50px;
}

.ft16{
    font-size: 16px;
}
